<div class="sidebar hidden-sm-down">
        <ul class="nav in" id="side-menu">
            <li class="user-pro">
                <a href="#" class="text-center">
                    <span >naam</span>
                </a>
            </li>
            <li><a routerLink="/dashboard" routerLinkActive="active" class="waves-effect"><i class="fa fa-home"></i> <span
                    class="hide-menu">Dashboard</span></a></li>
            <li>
                <a routerLink="/vrienden" routerLinkActive="active">
                    <i class="fa fa-edit"></i>
                    <span class="hide-menu">Vrienden</span>
                </a>
            </li>
            <li>
                <a  routerLink="/polls" routerLinkActive="active">
                    <i class="fa fa-edit"></i>
                    <span class="hide-menu">Polls</span>
                </a>
            </li>
        </ul>
    </div>
