<mat-card-content>
    <div mat-dialog-content>
        <mat-card>
            <mat-card-header>
                <mat-card-title>Poll maken</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <div class="row">
                    <div class="bs col-lg-5">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="naam" name="titel" [(ngModel)]="naam"
                                class="marginPolls" [readonly]="isReadonly" />
                            <span>
                                <button mat-mini-fab color="primary" (click)="addNaam()">
                                    <fa-icon [icon]="faPlus"></fa-icon>
                                </button>
                            </span>
                        </div>
                        <div *ngIf="titelPollIsToegevoegd">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="antwoord" name="antwoord"
                                    [(ngModel)]="antwoord" class="marginPolls" />
                                <button mat-mini-fab color="primary" (click)="addAntwoord()">
                                    <fa-icon [icon]="faPlus"></fa-icon>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="bs col-lg-7">
                        <!-- <form #pollForm="ngForm"> -->
                        <div class="input-container">
                            <h3>{{titelPoll}}</h3>
                            <div class="row">
                                <ul>
                                    <li *ngFor="let antwoord of antwoorden">
                                        <span> {{ antwoord }} </span>
                                        <button mat-icon-button color="warn" (click)="deleteAntwoord(antwoord)">
                                            <fa-icon [icon]="faTrash"></fa-icon>
                                        </button>
                                    </li>
                                </ul>
                            </div>
                            <div *ngIf="aantalAntwoordenIsOk">
                                <button mat-raised-button color="primary" (click)="toonCardVrienden()">Vrienden
                                    uitnodigen</button>
                            </div>
                        </div>
                        <!-- </form> -->
                    </div>
                </div>
            </mat-card-content>
        </mat-card>

        <mat-card *ngIf="toonVrienden">
            <mat-card-header>
                <mat-card-title>Vrienden uitnodigen</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <form [formGroup]="vriendenForm">
                    <!-- <p>{{ vriendenForm.value | json}}</p> -->
                    <div class="row">
                        <div class="bs col-lg-5">
                            <mat-accordion>
                                <mat-expansion-panel>
                                    <mat-expansion-panel-header>
                                        <mat-panel-title>
                                            Mijn vrienden
                                        </mat-panel-title>
                                    </mat-expansion-panel-header>
                                    <mat-selection-list class="scrollableList" #vrienden formControlName="vrienden"
                                        (click)="onSelectionChangeVriend(vrienden._value)">
                                        <mat-list-option *ngFor="let vriend of alleVrienden" [value]="vriend">
                                            {{vriend.voornaam}} {{vriend.achternaam}}
                                        </mat-list-option>
                                    </mat-selection-list>
                                </mat-expansion-panel>
                            </mat-accordion>
                        </div>
                        <div class="bs col-lg-7">
                            <div class="input-container">
                                <div class="row">
                                    <mat-list class="scrollableList">
                                        <mat-list-item *ngFor="let vriend of vriendenPoll">
                                            <span> {{vriend.voornaam}} {{vriend.achternaam}} </span>
                                        </mat-list-item>
                                    </mat-list>
                                </div>
                            </div>
                        </div>
                        <div *ngIf="aantalVriendenIsOk">
                            <button mat-raised-button color="primary" (click)="addPoll()"
                                [disabled]="!vriendenForm.valid">Verzenden</button>
                        </div>
                    </div>
                </form>
            </mat-card-content>
        </mat-card>
    </div>
    <br><br>
    <div mat-dialog-actions fxLayoutAlign="space-around center">
        <button mat-dialog-close md-raised-button color="primary" (click)="dialogRef.close()">Sluiten</button>
    </div>
</mat-card-content>