<div id="page-wrapper">
        <div class="container-fluid">
                <!-- <mat-sidenav-container class="example-container">
                        <mat-sidenav #sidenav mode="side" [(opened)]="opened" (opened)="events.push('open!')"
                                     (closed)="events.push('close!')">
                          Sidenav content
                        </mat-sidenav>
                      
                        <mat-sidenav-content>
                          <p><mat-checkbox [(ngModel)]="opened">sidenav.opened</mat-checkbox></p>
                          <p><button mat-button (click)="sidenav.toggle()">sidenav.toggle()</button></p>
                          <p>Events:</p>
                          <div class="example-events">
                            <div *ngFor="let e of events">{{e}}</div>
                          </div>
                        </mat-sidenav-content>
                      </mat-sidenav-container>     -->
                      <app-navigatie></app-navigatie>
<div class="row">
    <div class="col-xxxl-3 col-xxl-3 col-lg-3 col-md-3">
        <mat-card >
            <mat-card-header >
              <mat-card-title >Vrienden</mat-card-title>
              <mat-card-subtitle>10</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content >
            </mat-card-content>
          </mat-card>
    </div> 
  
    <div class="col-xxxl-3 col-xxl-3 col-lg-3 col-md-3">
        <mat-card>
            <mat-card-header>
              <mat-card-title>Vriendschapsverzoeken</mat-card-title>
              <mat-card-subtitle>1 nieuw verzoek</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
              
            </mat-card-content>
          </mat-card>
    </div>
  
    <div class="col-xxxl-3 col-xxl-3 col-lg-3 col-md-3">
        <mat-card>
            <mat-card-header>
              <mat-card-title>Mijn polls</mat-card-title>
              <mat-card-subtitle>5</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
              
            </mat-card-content>
          </mat-card>
    </div>
  
  
    <div class="col-xxxl-3 col-xxl-3 col-lg-3 col-md-3">
        <mat-card>
            <mat-card-header>
              <mat-card-title>Uitnodigingen polls</mat-card-title>
              <mat-card-subtitle>0</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
              
            </mat-card-content>
          </mat-card>
    </div>
  </div>
</div></div>

  
