<app-navigatie></app-navigatie>
<div id="page-wrapper">
    <div class="container-fluid">
        <div class="row row-stat">
            <div class="col-lg-6">
                <div class="panel panel-light noborder">
                    <div class="panel-heading noborder">
                        <div class="panel-icon"><i class="material-icons md-48">group</i></div>
                        <div class="media-body">
                            <h2 class="nomargin">Vriendschapverzoeken</h2>
                            <h5 class="mt5"> {{aantalVriendschapverzoeken}} {{tekstVriendschapverzoeken}}</h5>
                        </div><!-- media-body -->
                        <hr>
                        <div class="clearfix mt20">
                            <div class="pull-right">
                                <h5 class="md-title nomargin"></h5>
                                <h4 class="nomargin"></h4>
                            </div>
                        </div>

                    </div><!-- panel-body -->
                </div><!-- panel -->
            </div><!-- col-md-4 -->

            <div class="col-lg-6 col-md-6">
                <div class="panel panel-dark noborder">
                    <div class="panel-heading noborder">
                        <div class="panel-icon"><i class="material-icons md-48">poll</i></div>
                        <div class="media-body">
                            <h2 class="mt5">Uitnodigingen polls</h2>
                            <h5 class="mt5">{{aantalPollUitnodigingen}} {{tekstPollUitnodigingen}}</h5>
                        </div><!-- media-body -->
                        <hr>
                        <div class="clearfix mt20">
                        </div>
                    </div><!-- panel-body -->
                </div><!-- panel -->
            </div><!-- col-md-4 -->
        </div>

        <div class="row cards">
            <div class="col-xxxl-6 col-xxl-6 col-lg-6 col-md-6">
                <mat-card>
                    <mat-card-header>
                        <div mat-card-avatar class="cards-header-image"><i class="material-icons md-24">poll</i></div>
                        <mat-card-title>Mijn polls</mat-card-title>
                        <mat-card-subtitle></mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content>
                        <ul>
                            <li *ngFor="let p of (mijnGemaaktePolls | async)">{{p.naam}}
                            </li>
                        </ul>
                    </mat-card-content>
                    <mat-card-actions>
                        <button mat-raised-button color="primary" (click)="addPoll()">Poll maken</button>
                    </mat-card-actions>
                </mat-card>
            </div>

            <div class="col-xxxl-6 col-xxl-6 col-lg-6 col-md-6">
                <mat-card>
                    <mat-card-header>
                        <div mat-card-avatar class="cards-header-image">
                            <fa-icon [icon]="faPollH"></fa-icon>
                        </div>
                        <mat-card-title>Polls voor mij</mat-card-title>
                        <mat-card-subtitle>{{aantalPolls}}</mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content>
                        <ul>
                            <li *ngFor="let p of (pollsVrienden | async)">
                                <a mat-button [routerLink]="['/polls', p.pollID]" routerLinkActive="active">
                                    {{p.naam}}
                                </a>
                            </li>
                        </ul>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
        <div class="row">
            <div class="col-xxxl-6 col-xxl-6 col-lg-6 col-md-6">
                <mat-card>
                    <mat-card-header>
                        <div mat-card-avatar class="cards-header-image"><i class="material-icons md-24">group</i>
                        </div>
                        <mat-card-title>Vrienden</mat-card-title>
                        <mat-card-subtitle>{{aantalVrienden}}</mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content>
                        <mat-list class="scrollableList" #items name="vrienden">
                            <mat-list-item *ngFor="let vriend of vrienden">
                                {{vriend.voornaam}} {{vriend.achternaam}}
                            </mat-list-item>
                        </mat-list>
                    </mat-card-content>
                    <mat-card-actions>
                        <button mat-raised-button color="primary" (click)="addVriend()">Vriend uitnodigen</button>
                    </mat-card-actions>
                </mat-card>
            </div>
            <div class="col-xxxl-6 col-xxl-6 col-lg-6 col-md-6">
            </div>
        </div>
    </div>