<mat-toolbar class="toolbar">
  <mat-toolbar-row>
      <h1>Poll&Friends</h1>
      <span class="menu-spacer"></span>
    <div>
      <a mat-button routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" *ngIf="toonBasisRoutes" >Home</a>
      <a mat-button routerLink="/inloggen" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" *ngIf="toonBasisRoutes">Inloggen</a>
      <a mat-button routerLink="/registreren" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" *ngIf="toonBasisRoutes">Registreren</a>
      <!-- <a mat-button [routerLink]="['/activeren', id, activatiecode ]" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Account activeren</a> -->
    </div>      
 </mat-toolbar-row>
</mat-toolbar>
<router-outlet></router-outlet> 

