html {
    position: relative;
    min-height: 100%;
    background: #FFFBE0;;
}
body {
    background: transparent;
    font-family: 'Poppins',sans-serif;
    margin: 0;
    overflow-x: hidden;
    color: #686868;
    font-weight: 300;
    height: 100%;
}